body {
  height: 100vh;
  background: rgb(246, 255, 255);
  background: -moz-linear-gradient(
    162deg,
    rgba(246, 255, 255, 1) 0%,
    rgba(98, 172, 181, 1) 76%
  );
  background: -webkit-linear-gradient(
    162deg,
    rgba(246, 255, 255, 1) 0%,
    rgba(98, 172, 181, 1) 76%
  );
  background: linear-gradient(
    162deg,
    rgba(246, 255, 255, 1) 0%,
    rgba(98, 172, 181, 1) 76%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6ffff",endColorstr="#62acb5",GradientType=1);
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
